.wrapper-progressBar {
    width: 100%
}

.progressBar li {
    list-style-type: none;
    float: left;
    width: 33%;
    position: relative;
    text-align: center;
}

.progressBar li:before {
    content: " ";
    line-height: 30px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border: 1px solid #ddd;
    border-left:none;
    display: block;
    text-align: center;
    margin: 8.5px auto 0px;
    background-color: #eee;
}
.progressBar li:after {
    content: "";
    position: absolute;
    width: 97%;
    height: 5px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-right:none;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.active {
    color: #0f2944;
}

.progressBar li.active:before {
    border-color: #0f2944;
    background-color: #0f2944;
}

.progressBar .active:after {
    background-color: #0f2944;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}


@keyframes animate {
    100%{
    transform: scaleX(1);
    }
}
