/*
h2{
    margin-top: 30px ;
}
.container {

    padding-right: 10% ;
    padding-left: 10%;  
    padding-top: 5%;
    text-align: justify;
}


#mapContainer{
    margin: auto;

}

iframe{
    width: 100% !important;
    height: 300px
}
*/

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}